<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ruoyi.system.mapper.UResourceMapper">
    
    <resultMap type="UResource" id="UResourceResult">
        <result property="resourceId"    column="resource_id"    />
        <result property="resourceTitle"    column="resource_title"    />
        <result property="resourceType"    column="resource_type"    />
        <result property="resourceSubType"    column="resource_sub_type"    />
        <result property="resourceContent"    column="resource_content"    />
        <result property="resourceFilePath"    column="resource_file_path"    />
        <result property="createTime"    column="create_time"    />
        <result property="createUserId"    column="create_user_id"    />
        <result property="createUserName"    column="create_user_name"    />
        <result property="ext1"    column="ext1"    />
        <result property="ext2"    column="ext2"    />
        <result property="ext3"    column="ext3"    />
        <result property="ext4"    column="ext4"    />
        <result property="ext5"    column="ext5"    />
    </resultMap>

    <sql id="selectUResourceVo">
        select resource_id, resource_title, resource_type, resource_sub_type, resource_content, resource_file_path, create_time, create_user_id, create_user_name, ext1, ext2, ext3, ext4, ext5 from u_resource
    </sql>

    <select id="selectUResourceList" parameterType="UResource" resultMap="UResourceResult">
        <include refid="selectUResourceVo"/>
        <where>  
            <if test="resourceTitle != null  and resourceTitle != ''"> and resource_title = #{resourceTitle}</if>
            <if test="resourceType != null "> and resource_type = #{resourceType}</if>
            <if test="resourceSubType != null "> and resource_sub_type = #{resourceSubType}</if>
            <if test="resourceContent != null  and resourceContent != ''"> and resource_content = #{resourceContent}</if>
            <if test="resourceFilePath != null  and resourceFilePath != ''"> and resource_file_path = #{resourceFilePath}</if>
            <if test="createUserId != null "> and create_user_id = #{createUserId}</if>
            <if test="createUserName != null  and createUserName != ''"> and create_user_name like concat('%', #{createUserName}, '%')</if>
            <if test="ext1 != null  and ext1 != ''"> and ext1 = #{ext1}</if>
            <if test="ext2 != null  and ext2 != ''"> and ext2 = #{ext2}</if>
            <if test="ext3 != null  and ext3 != ''"> and ext3 = #{ext3}</if>
            <if test="ext4 != null  and ext4 != ''"> and ext4 = #{ext4}</if>
            <if test="ext5 != null "> and ext5 = #{ext5}</if>
        </where>
    </select>
    
    <select id="selectUResourceById" parameterType="Long" resultMap="UResourceResult">
        <include refid="selectUResourceVo"/>
        where resource_id = #{resourceId}
    </select>
        
    <insert id="insertUResource" parameterType="UResource" useGeneratedKeys="true" keyProperty="resourceId">
        insert into u_resource
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="resourceTitle != null">resource_title,</if>
            <if test="resourceType != null">resource_type,</if>
            <if test="resourceSubType != null">resource_sub_type,</if>
            <if test="resourceContent != null">resource_content,</if>
            <if test="resourceFilePath != null">resource_file_path,</if>
            <if test="createTime != null">create_time,</if>
            <if test="createUserId != null">create_user_id,</if>
            <if test="createUserName != null">create_user_name,</if>
            <if test="ext1 != null">ext1,</if>
            <if test="ext2 != null">ext2,</if>
            <if test="ext3 != null">ext3,</if>
            <if test="ext4 != null">ext4,</if>
            <if test="ext5 != null">ext5,</if>
         </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="resourceTitle != null">#{resourceTitle},</if>
            <if test="resourceType != null">#{resourceType},</if>
            <if test="resourceSubType != null">#{resourceSubType},</if>
            <if test="resourceContent != null">#{resourceContent},</if>
            <if test="resourceFilePath != null">#{resourceFilePath},</if>
            <if test="createTime != null">#{createTime},</if>
            <if test="createUserId != null">#{createUserId},</if>
            <if test="createUserName != null">#{createUserName},</if>
            <if test="ext1 != null">#{ext1},</if>
            <if test="ext2 != null">#{ext2},</if>
            <if test="ext3 != null">#{ext3},</if>
            <if test="ext4 != null">#{ext4},</if>
            <if test="ext5 != null">#{ext5},</if>
         </trim>
    </insert>

    <update id="updateUResource" parameterType="UResource">
        update u_resource
        <trim prefix="SET" suffixOverrides=",">
            <if test="resourceTitle != null">resource_title = #{resourceTitle},</if>
            <if test="resourceType != null">resource_type = #{resourceType},</if>
            <if test="resourceSubType != null">resource_sub_type = #{resourceSubType},</if>
            <if test="resourceContent != null">resource_content = #{resourceContent},</if>
            <if test="resourceFilePath != null">resource_file_path = #{resourceFilePath},</if>
            <if test="createTime != null">create_time = #{createTime},</if>
            <if test="createUserId != null">create_user_id = #{createUserId},</if>
            <if test="createUserName != null">create_user_name = #{createUserName},</if>
            <if test="ext1 != null">ext1 = #{ext1},</if>
            <if test="ext2 != null">ext2 = #{ext2},</if>
            <if test="ext3 != null">ext3 = #{ext3},</if>
            <if test="ext4 != null">ext4 = #{ext4},</if>
            <if test="ext5 != null">ext5 = #{ext5},</if>
        </trim>
        where resource_id = #{resourceId}
    </update>

    <delete id="deleteUResourceById" parameterType="Long">
        delete from u_resource where resource_id = #{resourceId}
    </delete>

    <delete id="deleteUResourceByIds" parameterType="String">
        delete from u_resource where resource_id in 
        <foreach item="resourceId" collection="array" open="(" separator="," close=")">
            #{resourceId}
        </foreach>
    </delete>

</mapper>